@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper .footer .rir .right .buttonCall, .wrapper .footer .application .form .toBook, .wrapper .sixth-block .discount .fivePercent .button, .wrapper .sixth-block .discount .tenPercent .button, .wrapper .sixth-block .form .toBook, .wrapper .fifth-block .for12hours .certificate .right-side .toBook, .wrapper .first-block .button {
  color: #000000;
  background-color: #FEB447;
  border-radius: 20px;
  height: 43px;
  width: 184px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.75px;
  text-align: center;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  font-family: Montserrat;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
}
.wrapper .header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .logo {
  margin-left: 138px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #C81F56;
}
.wrapper .header .logo:before {
  margin-right: 16px;
  content: url("../img/Vector.png");
}
.wrapper .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 117px;
}
.wrapper .header .menu .item {
  white-space: nowrap;
  margin-left: 33px;
  color: #000000;
  height: 23.5px;
  font-weight: 600;
  border-bottom: 1px solid #F0F0F0;
}
.wrapper .header .menu .item a {
  color: inherit;
}
.wrapper .header .menu .item a:hover {
  color: #C81F56;
}
.wrapper .first-block {
  padding-right: 138px;
  padding-top: 73px;
  padding-left: 138px;
  min-height: 719px;
  background-image: url("../img/Group 2.png");
  background-size: cover;
}
.wrapper .first-block .main-text {
  max-width: 925px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: -0.01em;
}
.wrapper .first-block .submain-text {
  max-width: 676px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.01em;
}
.wrapper .first-block .list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .first-block .list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .first-block .list .list-item .item {
  max-width: 297px;
  margin-left: 10px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
}
.wrapper .first-block .list .list-item .phone {
  margin-right: 0;
}
.wrapper .first-block .list .list-item .search {
  margin-right: 0;
}
.wrapper .first-block .beginning {
  margin-top: 55px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.wrapper .first-block .button {
  margin-top: 65px;
}
.wrapper .second-block {
  padding-top: 73px;
  padding-left: 20%;
}
.wrapper .second-block .doyou {
  margin-right: 10%;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
}
.wrapper .second-block .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .second-block .list .item {
  margin-top: 39px;
  width: 33%;
}
.wrapper .second-block .list .item .text {
  margin-top: 16px;
}
.wrapper .third-block {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.wrapper .third-block .vacs {
  height: 114px;
  margin-bottom: -30px;
  margin-left: 40px;
  color: #C81F56;
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 900;
  line-height: 140px;
  letter-spacing: -0.02em;
  mix-blend-mode: darken;
  opacity: 0.1;
}
.wrapper .third-block .slider {
  max-height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper .third-block .slider .item {
  float: left;
  position: relative;
  background-color: #fff;
  height: 287px;
  width: 216px;
  -webkit-box-shadow: 0px 8px 15px 0px #0000001A;
          box-shadow: 0px 8px 15px 0px #0000001A;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 15px;
}
.wrapper .third-block .slider .item .topLogo {
  margin: 18px;
}
.wrapper .third-block .slider .item .head {
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.wrapper .third-block .slider .item .cost {
  margin-top: 23px;
  margin-left: 20px;
}
.wrapper .third-block .slider .item .botLogo {
  margin-left: 20px;
  margin-bottom: 23px;
  position: absolute;
  bottom: 0;
}
.wrapper .third-block .slider .item:nth-child(1) {
  opacity: 0.5;
}
.wrapper .third-block .slider .item:nth-child(6) {
  opacity: 0.5;
}
.wrapper .third-block .third-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .third-block .third-footer .button-arrow {
  z-index: 1;
  position: relative;
  top: -200px;
  margin-left: 80px;
  margin-right: 80px;
}
.wrapper .third-block .third-footer .dots {
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrapper .third-block .third-footer .dots .item {
  margin: 14px 6px 0px 6px;
}
.wrapper .third-block .third-footer .dots .item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.wrapper .third-block .third-footer .dots .item:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.wrapper .third-block .third-footer .dots .item:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.wrapper .third-block .third-footer .dots .item:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.wrapper .third-block .third-footer .dots .item:nth-child(5) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.wrapper .third-block .learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 257px;
  height: 43px;
  width: 257px;
  border-radius: 20px;
  background-color: #FEB447;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
}
.wrapper .thourd-block {
  min-height: 697px;
  margin-top: 94px;
  padding-left: 20%;
  margin-right: 20%;
}
.wrapper .thourd-block h1 {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  max-width: 806px;
}
.wrapper .thourd-block p {
  max-width: 554px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}
.wrapper .thourd-block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -77px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .thourd-block .box .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
}
.wrapper .thourd-block .box .element .p {
  white-space: nowrap;
  font-size: 19px;
}
.wrapper .thourd-block .box .first .p {
  margin-left: 80px;
  margin-top: 40px;
}
.wrapper .thourd-block .box .second {
  margin-left: 120px;
  margin-right: 315px;
}
.wrapper .fifth-block {
  min-height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 67px;
  background-image: url("../img/5phone.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .fifth-block .box {
  margin-left: 20%;
  margin-top: 130px;
}
.wrapper .fifth-block .header {
  margin-right: 10%;
  max-width: 886px;
  margin-top: 160px;
  margin-left: 257px;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  color: #fff;
}
.wrapper .fifth-block .list {
  margin-top: 150px;
  margin-left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .fifth-block .list .item {
  margin: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .fifth-block .list .item span {
  max-width: 258px;
  display: block;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.wrapper .fifth-block .list .item img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: auto;
  margin-right: 20px;
}
.wrapper .fifth-block .for12hours {
  margin-top: 10px;
  background-repeat: no-repeat;
  width: 100%;
  height: 1370px;
  background-image: url("../img/52phone.png");
}
.wrapper .fifth-block .for12hours .list1 {
  color: #fff;
  margin-top: 380px;
  margin-left: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 148px;
}
.wrapper .fifth-block .for12hours .list1 .item h6 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.wrapper .fifth-block .for12hours .list1 .item .tex {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.wrapper .fifth-block .for12hours .certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  margin-left: 257px;
}
.wrapper .fifth-block .for12hours .certificate .right-side {
  padding-left: 53px;
}
.wrapper .fifth-block .for12hours .certificate .right-side .header {
  margin-left: auto;
  margin-top: 0;
}
.wrapper .fifth-block .for12hours .certificate .right-side .head {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.wrapper .fifth-block .for12hours .certificate .right-side .toBook {
  margin-top: 57px;
}
.wrapper .sixth-block {
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrapper .sixth-block .header {
  margin-left: 257px;
  margin-right: 200px;
  width: 725px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 800;
  line-height: 59px;
  color: #C81F56;
}
.wrapper .sixth-block .header span {
  color: #8D8D8D;
}
.wrapper .sixth-block .header p {
  color: #FE840E;
}
.wrapper .sixth-block .left-side {
  margin-left: 20%;
}
.wrapper .sixth-block .left-side .list .item {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.wrapper .sixth-block .left-side .list .item img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
}
.wrapper .sixth-block .right-side {
  float: right;
  margin-left: 4%;
}
.wrapper .sixth-block .right-side .list .item {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.wrapper .sixth-block .right-side .list .item:nth-child(4) {
  margin-bottom: 145px;
}
.wrapper .sixth-block .right-side .list .item img {
  height: 55px;
  width: 57px;
  margin-right: 18px;
  -webkit-filter: grayscale(0);
  filter: none;
  filter: grayscale(0);
}
.wrapper .sixth-block .liwrapper {
  width: 100%;
}
.wrapper .sixth-block .liwrapper .line {
  width: 926px;
  height: 2px;
  background-image: url("../img/Line.png");
  margin: auto;
  margin-top: -20px;
}
.wrapper .sixth-block .common {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #C4C4C4;
}
.wrapper .sixth-block .common p {
  width: 100%;
}
.wrapper .sixth-block .common div {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
.wrapper .sixth-block .common span {
  margin-top: 20px;
  font-size: 37px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.05em;
}
.wrapper .sixth-block .datarar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  margin-left: 9%;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #FE840E;
}
.wrapper .sixth-block .datarar p {
  text-transform: uppercase;
  width: 100%;
}
.wrapper .sixth-block .datarar div {
  font-size: 96px;
  font-weight: 900;
  line-height: 140px;
  letter-spacing: -0.02em;
}
.wrapper .sixth-block .datarar span {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
  line-height: 88px;
  letter-spacing: -0.01em;
}
.wrapper .sixth-block .form {
  -webkit-box-shadow: 0px 8px 15px 0px #0000001A;
          box-shadow: 0px 8px 15px 0px #0000001A;
  margin-top: 125px;
  margin-left: 10%;
  border-radius: 50px;
  color: #fff;
  padding-left: 78px;
  max-width: 1164px;
  min-height: 346px;
  background-image: url("../img/formPhone.png");
  background-size: cover;
  margin-right: 10%;
}
.wrapper .sixth-block .form .start {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -0.01em;
}
.wrapper .sixth-block .form h4 {
  margin-top: 70px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
}
.wrapper .sixth-block .form .toBook {
  float: left;
  margin-right: 20px;
}
.wrapper .sixth-block .form .name {
  border: 2px solid black;
  height: 43px;
  width: 494px;
  border-radius: 20px;
  float: left;
  background: #FFFFFF;
  border: 1px solid #FFDBBA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px rgba(254, 132, 14, 0.2);
          box-shadow: 0px 3px 10px rgba(254, 132, 14, 0.2);
  border-radius: 20px;
}
.wrapper .sixth-block .form .phone {
  border: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
  background: #FFFFFF;
  border: 1px solid #FFDBBA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  height: 43px;
  width: 290px;
  border-radius: 20px;
}
.wrapper .sixth-block .form input {
  padding: 15px;
}
.wrapper .sixth-block .form input::-webkit-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .sixth-block .form input::-moz-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .sixth-block .form input:-ms-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .sixth-block .form input::-ms-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .sixth-block .form input::placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .sixth-block .discount {
  margin-top: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}
.wrapper .sixth-block .discount .tenPercent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .sixth-block .discount .tenPercent .leftMan {
  margin-right: 8px;
}
.wrapper .sixth-block .discount .tenPercent .content .percents {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.47%, #F5FA72), color-stop(80.65%, #FE840E));
  background: linear-gradient(180deg, #F5FA72 32.47%, #FE840E 80.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  font-size: 120px;
  font-weight: 900;
  line-height: 176px;
  letter-spacing: -0.05em;
}
.wrapper .sixth-block .discount .tenPercent .content p {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.wrapper .sixth-block .discount .tenPercent .button {
  margin-top: 40px;
}
.wrapper .sixth-block .discount .fivePercent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .sixth-block .discount .fivePercent .rightMan {
  margin-right: 8px;
}
.wrapper .sixth-block .discount .fivePercent .content .percents {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22.46%, #FE840E), to(#C81F56));
  background: linear-gradient(180deg, #FE840E 22.46%, #C81F56 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  font-size: 120px;
  font-weight: 900;
  line-height: 176px;
  letter-spacing: -0.05em;
}
.wrapper .sixth-block .discount .fivePercent .content p {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.wrapper .sixth-block .discount .fivePercent .button {
  margin-top: 40px;
}
.wrapper .seventh-block {
  padding-left: 20%;
  margin-top: 145px;
  width: 100%;
  background-image: url("../img/7phone.png");
  min-height: 1750px;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .seventh-block h3 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -0.01em;
}
.wrapper .seventh-block p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.wrapper .seventh-block .main {
  width: 100%;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}
.wrapper .footer {
  color: #fff;
  margin-top: 83px;
  width: 100%;
  min-height: 2000px;
  background-image: url("../img/footerbg.png");
  background-repeat: no-repeat;
}
.wrapper .footer h2 {
  margin-top: 67px;
  margin-left: 257px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 800;
  line-height: 88px;
  letter-spacing: -0.01em;
}
.wrapper .footer h3 {
  margin-top: 59px;
  margin-left: 257px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.01em;
}
.wrapper .footer p {
  margin-top: 16px;
  margin-left: 257px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.01em;
}
.wrapper .footer h4 {
  margin-top: 90px;
  margin-left: 257px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
}
.wrapper .footer .teachers {
  margin-top: 54px;
  margin-left: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .footer .teachers .firstt {
  margin-right: 22px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  height: 475px;
  background-repeat: no-repeat;
  width: 453px;
  background-image: url("../img/firstt.png");
  border-radius: 20px;
}
.wrapper .footer .teachers .firstt h1 {
  color: #fff;
  margin-top: 161px;
  margin-left: 40px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.01em;
}
.wrapper .footer .teachers .firstt h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-left: 40px;
  margin-top: 0;
}
.wrapper .footer .teachers .firstt ul {
  margin-top: 60px;
  margin-left: 62px;
  color: #000;
}
.wrapper .footer .teachers .firstt ul li {
  list-style: disc outside;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.150000006px;
}
.wrapper .footer .teachers .secondt {
  margin-top: -5px;
  height: 480px;
  background-repeat: no-repeat;
  width: 453px;
  background-image: url("../img/secondt.png");
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.wrapper .footer .teachers .secondt h1 {
  color: #fff;
  margin-top: 161px;
  margin-left: 40px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -0.01em;
}
.wrapper .footer .teachers .secondt h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-left: 40px;
  margin-top: 0;
}
.wrapper .footer .teachers .secondt ul {
  margin-left: 62px;
  margin-top: 60px;
  color: #000;
}
.wrapper .footer .teachers .secondt ul li {
  list-style: disc outside;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.150000006px;
}
.wrapper .footer .application {
  margin-top: 115px;
  margin-left: 138px;
  padding-top: 40px;
  width: 1164px;
  height: 170px;
  background-image: url("../img/footerApplication.png");
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.wrapper .footer .application .maintext {
  margin-left: 78px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
}
.wrapper .footer .application .form input {
  padding: 15px;
  margin-top: 30px;
}
.wrapper .footer .application .form input::-webkit-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .footer .application .form input::-moz-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .footer .application .form input:-ms-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .footer .application .form input::-ms-input-placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .footer .application .form input::placeholder {
  color: #FE840E80;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.75px;
  margin-left: 30px;
}
.wrapper .footer .application .form .name {
  float: left;
  border: 2px solid black;
  margin-left: 78px;
  height: 43px;
  width: 335px;
  border-radius: 20px;
  float: left;
  background: #FFFFFF;
  border: 1px solid #FFDBBA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px rgba(254, 132, 14, 0.2);
          box-shadow: 0px 3px 10px rgba(254, 132, 14, 0.2);
  border-radius: 20px;
}
.wrapper .footer .application .form .phone {
  float: left;
  border: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
  background: #FFFFFF;
  border: 1px solid #FFDBBA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  height: 43px;
  width: 260px;
  border-radius: 20px;
}
.wrapper .footer .application .form .toBook {
  margin-right: 20px;
  float: left;
  background-color: #FE840E;
  margin-top: 30px;
}
.wrapper .footer .application .form .logo {
  float: left;
  margin-top: 30px;
}
.wrapper .footer .application .form .middle {
  margin-left: 20px;
  margin-right: 20px;
}
.wrapper .footer h1 {
  font-family: Montserrat;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.01em;
  weight: 700;
  color: #000;
  margin-top: 107px;
  font-weight: bold;
  margin-left: 648px;
}
.wrapper .footer .comments {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  z-index: 2;
}
.wrapper .footer .comments .items {
  position: relative;
  right: 230px;
  width: 1892px;
  padding-top: 30px;
  white-space: nowrap;
  margin: auto;
  overflow: hidden;
  margin-left: 0;
}
.wrapper .footer .comments .items .item {
  display: inline-block;
  float: left;
  margin: 10px;
  -webkit-box-shadow: 0px 15px 50px rgba(254, 132, 14, 0.1);
          box-shadow: 0px 15px 50px rgba(254, 132, 14, 0.1);
  width: 453px;
  height: 239px;
  border: 1px solid #FEB447;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  white-space: normal;
}
.wrapper .footer .comments .items .item img {
  margin-left: 192px;
  width: 70px;
  height: 70px;
  margin-top: -25px;
}
.wrapper .footer .comments .items .item p {
  margin: auto;
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}
.wrapper .footer .comments .items .item h5 {
  margin-top: 21px;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
}
.wrapper .footer .comments .items .item:nth-child(1) {
  opacity: 0.5;
}
.wrapper .footer .comments .items .item:nth-child(4) {
  opacity: 0.5;
}
.wrapper .footer .comments .left-arrow {
  position: relative;
  z-index: 1;
  float: left;
  margin-left: 60px;
  margin-top: -240px;
}
.wrapper .footer .comments .right-arrow {
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 60px;
  margin-top: -240px;
}
.wrapper .footer .comments .dots .dottes {
  margin-top: 85px;
}
.wrapper .footer .comments .dots .dottes .cent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .footer .comments .dots .dottes .cent .dot {
  margin: 6px;
}
.wrapper .footer .comments .dots .dottes .cent .dot:nth-child(1) {
  margin-left: 636px;
}
.wrapper .footer .card {
  height: 604px;
  margin-right: 124px;
  margin-top: 130px;
  background-image: url("../img/footer1Bg.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.wrapper .footer .card .carda {
  float: left;
  padding-top: 90px;
  margin-top: 60px;
  height: 400px;
  width: 600px;
  background-image: url("../img/footerCard.png");
  background-repeat: no-repeat;
  margin-left: 257px;
}
.wrapper .footer .card .carda .addres {
  margin-left: 142px;
  background-color: #C4C4C4;
  height: 38px;
  width: 289px;
}
.wrapper .footer .card .carda .addres .tt {
  padding: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
}
.wrapper .footer .card .contacts {
  height: 800px;
  margin-top: 91px;
  margin-left: 30px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .footer .card .contacts .conts {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
}
.wrapper .footer .card .contacts .lot {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.wrapper .footer .card .contacts .lot img {
  margin-top: 5px;
  margin-right: 13px;
  width: 13px;
  height: 12px;
}
.wrapper .footer .rir {
  min-height: 650px;
}
.wrapper .footer .rir .left {
  margin-left: 257px;
  float: left;
}
.wrapper .footer .rir .left .logo {
  color: #FE840E;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.150000006px;
}
.wrapper .footer .rir .left .logo:before {
  margin-right: 22px;
  content: url("../img/mainlogo.png");
}
.wrapper .footer .rir .left p {
  margin-left: 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #000;
}
.wrapper .footer .rir .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .footer .rir .left ul li {
  margin: 10px;
}
.wrapper .footer .rir .left .h5 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #0000004D;
  margin-top: 55px;
}
.wrapper .footer .rir .right {
  margin-top: 90px;
  margin-left: 233px;
  float: left;
}
.wrapper .footer .rir .right .buttonCall {
  margin-bottom: 16px;
  background-color: #FE840E;
}
.wrapper .footer .rir .right .buttonCall .p {
  float: left;
  margin-left: 13px;
  margin-top: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.wrapper .footer .rir .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}
.wrapper .footer .rir .right ul li {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #00000080;
}
.wrapper .footer .rir .right ul li:nth-child(2) {
  margin-left: 24px;
  margin-right: 27px;
}
.wrapper .footer .rir .right ul li:nth-child(5) {
  margin-left: 27px;
  margin-right: 34px;
}

@media (max-width: 1370px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .wrapper .header .menu .item {
    display: none;
    margin-left: 0;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    height: 20px;
  }

  .wrapper .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    z-index: 50;
    margin-top: 70px;
    margin-right: 5%;
    width: 135px;
    height: 100px;
    background-image: url("../img/menu_hamburger_burger_icon_176431.png");
    background-repeat: no-repeat;
    background-position: top right;
  }
  .wrapper .header .menu:hover {
    cursor: pointer;
  }

  .wrapper .header .active-burger {
    margin-top: 110px;
    height: 140px;
    background-image: url("../img/letter-x.png");
  }

  .wrapper .header .logo {
    margin-left: 10%;
  }
}
@media (max-width: 360px) {
  .wrapper .header .menu {
    margin-left: 10%;
    margin-right: auto;
  }

  .wrapper .header .logo {
    margin-left: auto;
  }
}
@media (max-width: 1024px) {
  .wrapper .first-block .main-text {
    font-size: 30px;
  }

  .wrapper .first-block .submain-text {
    font-size: 16px;
  }

  .wrapper .first-block .beginning {
    font-size: 30px;
  }

  .wrapper .first-block .list .list-item .item {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .wrapper .first-block {
    padding-right: 15%;
    padding-left: 10%;
    padding-bottom: 25px;
  }

  .wrapper .first-block .main-text {
    font-size: 24px;
    line-height: 40px;
  }

  .wrapper .first-block .submain-text {
    font-size: 12px;
    line-height: 20px;
  }

  .wrapper .first-block .beginning {
    font-size: 24px;
  }

  .wrapper .first-block .list .list-item .item {
    font-size: 10px;
  }

  .wrapper .first-block .list .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 440px) {
  .wrapper .first-block .button {
    margin-left: 18%;
  }

  .wrapper .first-block {
    padding-left: 10%;
    padding-bottom: 25px;
  }

  .wrapper .first-block .main-text {
    font-size: 15px;
  }

  .wrapper .first-block .submain-text {
    font-size: 10px;
  }

  .wrapper .first-block .beginning {
    font-size: 15px;
  }

  .wrapper .first-block .list .list-item .item {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .wrapper .second-block {
    padding-left: 10%;
  }

  .wrapper .second-block .doyou {
    font-size: 28px;
  }

  .wrapper .second-block .list .item .text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .wrapper .second-block .doyou {
    font-size: 20px;
  }

  .wrapper .second-block .list .item .text {
    font-size: 10px;
  }
}
@media (max-width: 1300px) {
  .wrapper .third-block .slider {
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper .third-block .vacs {
    font-size: 70px;
  }

  .wrapper .third-block .slider .item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 860px) {
  .wrapper .third-block .slider .item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 620px) {
  .wrapper .third-block .slider .item:nth-child(1) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .wrapper .third-block .learn {
    float: left;
    margin-left: 10%;
  }

  .wrapper .third-block .vacs {
    font-size: 50px;
  }

  .wrapper .third-block .slider .item:nth-child(6) {
    display: none;
  }

  .wrapper .third-block .slider .item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper .third-block .vacs {
    font-size: 30px;
  }

  .wrapper .third-block .third-footer .button-arrow {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 440px) {
  .wrapper .third-block .vacs {
    font-size: 20px;
  }

  .wrapper .third-block .slider .item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .wrapper .thourd-block h1 {
    font-size: 28px;
  }

  .wrapper .thourd-block p {
    font-size: 16px;
  }

  .wrapper .thourd-block .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .thourd-block .box .second {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .wrapper .thourd-block h1 {
    font-size: 20px;
    line-height: 40px;
  }
}
@media (max-width: 440px) {
  .wrapper .thourd-block .box .element .p {
    font-size: 12px;
  }

  .wrapper .thourd-block h1 {
    font-size: 15px;
    line-height: 25px;
  }

  .wrapper .thourd-block .box .second .p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .wrapper .thourd-block p {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 1255px) {
  .wrapper .fifth-block .box {
    margin-left: 2.5%;
  }
}
@media (max-width: 1027px) {
  .wrapper .fifth-block .for12hours .certificate {
    margin-left: 10%;
  }

  .wrapper .fifth-block .for12hours .certificate .right-side {
    padding-left: 5px;
  }

  .wrapper .fifth-block .list {
    margin-top: 0;
    margin-left: 30%;
  }

  .wrapper .fifth-block .header {
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .wrapper .fifth-block .for12hours .list1 {
    margin-left: 20%;
    margin-right: 10%;
  }

  .wrapper .fifth-block .for12hours .list1 .item .tex {
    font-size: 20px;
  }

  .wrapper .fifth-block .for12hours .list1 .item h6 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .wrapper .fifth-block .for12hours .list1 {
    margin-left: 20%;
    margin-right: 10%;
  }

  .wrapper .fifth-block .for12hours .certificate {
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .fifth-block .for12hours .certificate .right-side .header {
    font-size: 20px;
    color: #000;
  }

  .wrapper .fifth-block .for12hours .certificate .right-side .head {
    color: #000;
  }

  .wrapper .fifth-block .box img {
    width: 100%;
  }

  .wrapper .fifth-block .for12hours .list1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .fifth-block .for12hours .list1 .item h6 {
    margin-top: 20px;
  }

  .wrapper .sixth-block {
    margin-top: 700px;
  }

  .wrapper .fifth-block .for12hours .certificate .left-side img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 440px) {
  .wrapper .fifth-block .list {
    margin-left: 10%;
  }

  .wrapper .fifth-block .header {
    font-size: 15px;
    line-height: 35px;
  }

  .wrapper .fifth-block .for12hours .list1 .item h6 {
    color: #000;
  }

  .wrapper .fifth-block .for12hours .list1 .item .tex {
    color: #000;
  }
}
@media (max-width: 1153px) {
  .wrapper .sixth-block .discount {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .wrapper .sixth-block .discount .fivePercent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10%;
    margin-top: 13px;
  }

  .wrapper .sixth-block .discount .tenPercent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1366px) {
  .wrapper .sixth-block .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .sixth-block .form .start {
    margin-right: 10%;
  }

  .wrapper .sixth-block .form .name {
    width: auto;
    margin-right: 10%;
  }

  .wrapper .sixth-block .form .phone {
    margin-left: 0;
    margin-top: 20px;
    width: auto;
    margin-right: 10%;
  }

  .wrapper .sixth-block .toBook {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1120px) {
  .wrapper .sixth-block .left-side {
    margin-left: 12%;
  }

  .wrapper .sixth-block .header {
    font-size: 30px;
    margin-left: 12%;
  }
}
@media (max-width: 544px) {
  .wrapper .sixth-block .header {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .wrapper .sixth-block .form h4 {
    margin-right: 10%;
  }

  .wrapper .sixth-block .common {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
  }

  .wrapper .sixth-block .datarar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5%;
  }

  .wrapper .sixth-block .common p {
    font-size: 14px;
  }

  .wrapper .sixth-block .common div {
    font-size: 50px;
    line-height: 60px;
  }

  .wrapper .sixth-block .common span {
    font-size: 30px;
    line-height: 38px;
  }

  .wrapper .sixth-block .common p {
    font-size: 28px;
    line-height: 40px;
  }

  .wrapper .sixth-block .datarar div {
    font-size: 84px;
    line-height: 120px;
  }

  .wrapper .sixth-block .common span {
    font-size: 50px;
    line-height: 60px;
  }

  .wrapper .sixth-block .left-side .list .item {
    font-size: 10px;
  }

  .wrapper .sixth-block .right-side .list .item {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .wrapper .sixth-block .form {
    padding-left: 10%;
  }

  .wrapper .sixth-block .form .start {
    font-size: 30px;
  }

  .wrapper .sixth-block .form h4 {
    font-size: 22px;
  }

  .wrapper .sixth-block .common {
    margin-left: 2%;
    width: auto;
  }

  .wrapper .sixth-block .datarar {
    margin-left: 5%;
  }

  .wrapper .sixth-block .common p {
    font-size: 10px;
  }

  .wrapper .sixth-block .common div {
    font-size: 38px;
    line-height: 48px;
  }

  .wrapper .sixth-block .common span {
    font-size: 24px;
    line-height: 30px;
  }

  .wrapper .sixth-block .datarar p {
    font-size: 20px;
    line-height: 32px;
  }

  .wrapper .sixth-block .datarar div {
    font-size: 70px;
    line-height: 60px;
  }

  .wrapper .sixth-block .datarar span {
    font-size: 42px;
    line-height: 50px;
  }

  .wrapper .sixth-block .left-side .list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper .sixth-block .right-side .list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper .sixth-block .header {
    margin-left: 5%;
    margin-right: 5%;
  }

  .wrapper .sixth-block .left-side {
    margin-left: 5%;
  }

  .wrapper .sixth-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .wrapper .sixth-block .left-side .list .item {
    font-size: 10px;
  }

  .wrapper .sixth-block .right-side .list .item {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .wrapper .sixth-block .left-side {
    margin-left: 1%;
  }

  .wrapper .sixth-block .right-side {
    margin-left: 0.8%;
  }

  .wrapper .sixth-block .left-side .list .item {
    font-size: 8px;
  }

  .wrapper .sixth-block .right-side .list .item {
    font-size: 8px;
  }

  .wrapper .sixth-block .form .start {
    font-size: 20px;
  }

  .wrapper .sixth-block .form h4 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .wrapper .seventh-block h3 {
    font-size: 30px;
  }

  .wrapper .seventh-block p {
    font-size: 16px;
    margin-right: 10%;
  }
}
@media (max-width: 440px) {
  .wrapper .seventh-block h3 {
    font-size: 24px;
  }

  .wrapper .seventh-block p {
    font-size: 10px;
    margin-right: 20px;
  }
}